<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Intro to vue.js</title>
  </head>
  <body>
    <div id="app">
      <div class="product">
        <div class="product__image">
          <img :src="image" :alt="productName" />
        </div>
        <div class="product__info">
          <h1>{{productName}}</h1>
          <p v-if="inStock">In Stock</p>
          <p v-else>Out of Stock</p>
          <h3>Features</h3>
          <ul>
            <li v-for="detail in details">{{detail}}</li>
          </ul>
          <div v-for="varient in varients" :key="varient.varientId">
            <p
              @mouseover="updateProduct(varient.varientName,varient.varientImage)"
              class="cursorPointer"
            >
              {{varient.varientColor}}
            </p>
          </div>
          <button class="btn cursorPointer" v-on:click="cart +=1">
            Add to Cart
          </button>
          <div class="cart">cart ({{cart}})</div>
          <button class="btn cursorPointer" @click="removeFromCart">
            Remove from Cart
          </button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
